# Supabase Configurations
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_ANON_KEY=

# LLM & Machine Learning API Keys
GROQ_API_KEY=
HF_TOKEN=

# Telegram Integration Token
TELEGRAM_TOKEN=

# Application Mode
DEBUG=False
ENVIRONMENT=production
ENABLE_TEST_AUTH=False
PORT=8000
