--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
supabase
passlib[bcrypt]
groq
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
faiss-cpu
pdfplumber
colorama
python-dotenv
python-telegram-bot
sentence-transformers==5.6.0
transformers==5.13.0
huggingface_hub